# ETL USER ITEMS

In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

### Cargamos los Datasets

In [3]:
# Datos con el dataset original, modificado para poder subirlo a git.
# #Creamos el Data Frame
# rows = []
# with open("Datasets OPS\\australian_users_items.json", encoding='MacRoman') as f:
#     for line in f.readlines():
#         rows.append(ast.literal_eval(line)) 

# df = pd.DataFrame(rows)
# df.head()

# Reducimos espacio para poder subirlo al github
# table = pa.Table.from_pandas(df)
# pq.write_table(table, 'australian_users_items.parquet', compression='SNAPPY')

In [2]:
df = pq.read_table('Datasets OPS/australian_users_items.parquet').to_pandas()

#### Nos quedamos con la columna necesaria

In [3]:
df.drop(columns=['steam_id', 'user_url'], inplace=True)
df

,user_id,items_count,items
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...
88305,76561198323066619,22,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,[]
88308,76561198329548331,7,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,[]

#### Exportamos el dataset para su posterior uso en la API

In [5]:
df.to_csv('../Datasets/items.csv.gz', compression='gzip')

#### Guardamos en formato parquet para que ocupe menos espacio

In [5]:
table = pa.Table.from_pandas(df)
pq.write_table(table, 'Datasets OPS/items.parquet', compression='SNAPPY')